@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-before::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: none;
  transition: all 0.3s;
}
.custom-before:hover::after {
  border-bottom: 5px solid orangered;
  transform: translateY(35px);
}
img {
  max-width: 100%;
  height: auto;
}
